@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  /* PRIMARY COLORS */

  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-cyan-btn: hsl(158, 35%, 18%);

  /* NEUTRAL COLORS */

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  background-color: var(--cream);

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  display: flex;
  flex-direction: column;
  max-width: 620px;
}

.image-container img {
  width: 350px;
  height: 240px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 350px;
  padding: 20px;
  background-color: var(--white);  
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-top: -5px;
}

.product-name {
  color: var(--dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}

.heading {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.description {
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grayish-blue);
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.prices .current-price {
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
}

.prices .old-price {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.addToCart {
  background-color: var(--dark-cyan);
  border: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--white);
  padding: 15px 60px;
  border-radius: 10px;
  
}

.addToCart::before {
  content: url(/images/icon-cart.svg);
  margin-right: 15px;
}


@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: center;
    max-height: 450px;
  }

  .image-container img {
    content: url(/images/image-product-desktop.jpg);
    width: 300px;
    height: 450px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 450px;
    padding: 25px 30px;
    background-color: var(--white);  
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .text-container .description {
    word-spacing: 5px;
  }
  
}